[Unit]
Description=Run legacy X11 battery monitor every minute

[Timer]
OnUnitActiveSec=1m
Unit=battery-monitor.service

[Install]
WantedBy=timers.target
