# ~/.env file with your own configuration 

######### COLORS ########

COLOR_BLACK="#010101"
COLOR_WHITE="#fefefe"
COLOR_GRAY="#141414"
COLOR_GRAY2="#31363b"
COLOR_GRAY3="#5f6265"

COLOR1="#14161b"
COLOR1_ANALOGOUS="#15151C"
COLOR2="#5f6a8e"
COLOR3="#bd93f9"
COLOR4="#3daee9"
COLOR5="#005D90"

COLOR_SUCCESS1="#50fa7b"
COLOR_SUCCESS2="#63FA50"
COLOR_SUCCESS3="#50FAB4"

COLOR_NEUTRAL1="#f1fa8c"
COLOR_NEUTRAL2="#FAEF8C"
COLOR_NEUTRAL3="#C3FA8C"

COLOR_ERROR1="#D8332D"
COLOR_ERROR2="#E0352F"
COLOR_ERROR3="#721B18"

######## ########

######## ICONS ########

ICON_COLORS=__LEGACY_X11_DIR__/assets/icons/colorpiker-removebg.png

######## ########

######## PATHS ########

PATH_DOTFILES=__LEGACY_X11_DIR__

PATH_IMAGE_INPUTBAR=__LEGACY_X11_DIR__/assets/wallpapers/sad-smile.png

PATH_LAUNCHER_STYLE=__HOME__/.config/rofi/launcher/style.rasi
PATH_POWERMENU_STYLE=__HOME__/.config/rofi/powermenu/style.rasi

PATH_TEXT_EDITOR=code
PATH_WALLPAPER=__LEGACY_X11_DIR__/assets/wallpapers/background-pc.jpeg
PATH_WALLPAPER2=__LEGACY_X11_DIR__/assets/wallpapers/sad-smile.png

######## ########

######## SCRIPTS ########

SCRIPT_VOLUME=__HOME__/.local/bin/volume-control.sh
SCRIPT_WATCHER_TEMPLATE=__HOME__/.local/bin/watch-template.sh

# rofi variables
SCRIPT_SCREENSHOT=__HOME__/.local/bin/screenshot-rofi.sh
SCRIPT_LAUNCHER=__HOME__/.local/bin/launcher-rofi.sh
SCRIPT_SETTINGS=__HOME__/.local/bin/settings-rofi.sh
SCRIPT_POWERMENU=__HOME__/.local/bin/powermenu-rofi.sh
SCRIPT_BATTERY=__HOME__/.local/bin/battery-rofi.sh
SCRIPT_BRIGHTNESS=__HOME__/.local/bin/brightness-rofi.sh
SCRIPT_VOLUME_ROFI=__HOME__/.local/bin/volume-rofi.sh

######## ########
