/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 *
 *
 **/
* {
    background:                  #010101;
    background-alt:              #141414;
    foreground:                  #fefefe;
    selected:                    #3daee9;
    active:                      #5f6a8e;
    urgent:                      #bd93f9;
}

