
# /etc/systemd/system/battery-monitor.service

[Unit]
Description=Low battery monitor
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/battery-monitor.sh
Type=oneshot
User=elcokiin 
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"

[Install]
WantedBy=multi-user.target

